.custom-header {
    background-color: "black";
    padding: "0px";
    justify-content: "space-between";
  }
  
  .custom-font {
    font-family: sans-serif;
  }
  
  li:hover,
  .active {
    background-color: #f4900c;
    border-radius: 0px;
  }